

@include keyframes('hroll') {
  0% { 
    left:-20%;
    @include transform(translateZ(0) rotate(0deg));
  }
  50% {
    left:20%;
	@include transform(translateZ(0) rotate(720deg));
  }
  100% { 
 	left:-21%;
    @include transform(translateZ(0) rotate(0deg));
  }
};

@include keyframes('bounceup') {
  0% { 
    left:-20%;
	top:50%;
    @include transform(translateZ(0) rotate(0deg));
  }
  50% {
    top:0%;
	left:0%;
    @include transform(translateZ(0) rotate(0deg));
  }
  90% { 
 	left:20%;
	top:50%;
    @include transform(translateZ(0) rotate(0deg));
  }
  100% { 
 	left:-20%;
	top:50%;
    @include transform(translateZ(0) rotate(0deg));
  }
};


@include keyframes('throb') {
  0% { 
    opacity: 1;    
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }  
};

@include keyframes('growfade') {
  0% { 
    opacity: 1;
    @include transform(scale(1,1));
  }
  100% { 
	@include transform(scale(5,5));
    opacity: 0;
  }
};

