@import 'stdmixins';
@import 'animationdetail';

body {
    font-family: Tahoma, Geneva, sans-serif;	  
    font-size: 1em;    
    margin: 0px;
	
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
	}

div.ctloverlay {
  color: #FFF;
  background-color:#666;
  padding: 1em;
  position: absolute;
  right:0;
  z-index:  1000;
  max-width:25%;
  pointer-events:none;
  opacity: .7;
};

#board {
    background-color: #000;
	overflow: hidden;
	width:100%;
	height:100%;
	position:relative;	
	
	div
	{
	  position: absolute;
	  padding: .2em;
	  color: #FFF;  
	  font-size: 200%;
	  font-variant: small-caps;
	  border-radius: 40%;
      cursor:pointer;      
	}
	
	b {
	  font-size: 200%
	}

	
	div.bouncefast
	{
	  @include animation(bounceup 8s ease infinite);	  
	}

	div.bouncefastx
	{
	  @include animation(bounceup 9s ease infinite);	  
	}

	div.bounceslow
	{
	  @include animation(bounceup 18s ease infinite);	  
	}

	div.bounceslowx
	{
	  @include animation(bounceup 19s ease infinite);	  
	}

	div.hrollslow
	{
	  @include animation(hroll 10s linear infinite);	  
	}

	div.hrollslowx
	{
	  @include animation(hroll 11s linear infinite);	  
	}

	div.hrollfast
	{
	  @include animation(hroll 5s linear infinite);	  
	}

	div.hrollfastx
	{
	  @include animation(hroll 4s linear infinite);	  
	}

	div.red {
	 color: #F00;
	 box-shadow: 0px 0px 50px 10px #800 inset;
	}

	div.red:hover{
	 box-shadow: 0px 0px 100px 10px #800 inset;
	}


	div.blue {
	 color: #00F;
	 box-shadow: 0px 0px 50px 10px #008 inset;
	}


	div.green {
	 color: #0F0;
	 box-shadow: 0px 0px 50px 10px #080 inset;
	}		
}

div.leveldefinition {
  display:none;
}